h1#title {
  -webkit-animation: rubberBand 1s;
}

header {
  background-color: pink;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  padding: 15px;
  font-size: 26px;
}

div#container {
  padding: 80px;
}

input#addToList {
  padding: 5px;
  margin-bottom: 20px;
}

li.listItem {
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: helvetica;
  -webkit-animation: bounceInUp 1s;
}

li.listItem:hover {
  background-color: #0085ff;
}