h1#header {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  padding: 15px;
  font-size: 26px;
  -webkit-animation: rubberBand 1s;
}

header {
  background-color: pink;
}

div#container {
  padding: 80px;
}

li.listItem {
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}